<% include header %>

  <h1>Is Anyone Playing Ping Pong Right Now?</h1>

  <h2>
    <% if (status) { %>
      Yup
    <% } else { %>
      Nope
    <% } %>
  </h2>

  <p>
    Last update from the table: <%= formattedTime %>
  </p>

<% include footer %>
